In [1]:
# IMPORTING PANDAS PACKAGE
import pandas as pd

In [2]:
# QUESTION 1:- CONVERTING DICTIONARY TO DATAFRAME

# INPUT DATA
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, 'NaN', 9, 20, 14.5,'NaN', 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

# CONVERTING GIVEN DICTIONARY TO DATA FRAME 
df_withIndex = pd.DataFrame(exam_data,index=['a','b','c','d','e','f','g','h','i','j'])

# PRINTING THE DATAFRAME
print(df_withIndex)

        name score  attempts qualify
a  Anastasia  12.5         1     yes
b       Dima     9         3      no
c  Katherine  16.5         2     yes
d      James   NaN         3      no
e      Emily     9         2      no
f    Michael    20         3     yes
g    Matthew  14.5         1     yes
h      Laura   NaN         1      no
i      Kevin     8         2      no
j      Jonas    19         1     yes

In [3]:
# QUESTION 2 :- PRINT ONLY IF SCORE IS GREATER THAN 15 AND ATTEMPTS ARE LESS THAN 2


# INPUT DATA
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, 0 , 9, 20, 14.5, 0 , 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

# CONVERTING GIVEN DICTIONARY TO DATA FRAME 
df = pd.DataFrame(exam_data,index=['a','b','c','d','e','f','g','h','i','j'])

# APPLYING THE CONDITION AND STORING THE RESULT IN A NEW DATAFRAME
result = df[(df['score']>15)&(df['attempts']<2)]

# PRINTING THE RESULT
print(result)

    name  score  attempts qualify
j  Jonas   19.0         1     yes

In [4]:
# QUESTION 3:- REPLACE A VALUE OF SCORE AT INDEX D TO 11.5


# INPUT DATA
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, 0 , 9, 20, 14.5, 0 , 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

# CONVERTING GIVEN DICTIONARY TO DATA FRAME 
df = pd.DataFrame(exam_data,index=['a','b','c','d','e','f','g','h','i','j'])

# REPLACING THE VALUE OF SCORE AT INDEX 'D'
df.at['d','score']=11.5

# PRINTING THE DATA FRAME AFTER REPLACING
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    0.0         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [5]:
# QUESTION 4:- SUM OF ATTEMPTS MADE BY STUDENT


# INPUT DATA
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, 0 , 9, 20, 14.5, 0 , 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

# CONVERTING GIVEN DICTIONARY TO DATA FRAME 
df = pd.DataFrame(exam_data,index=['a','b','c','d','e','f','g','h','i','j'])

# CALCULATING THE SUM OF ATTEMPTS MADE BY STUDENTS
sum_of_attempts = df['attempts'].sum()

# PRINTING THE SUM OF ATTEMPTS MADE BY STUDENTS
print("The Sum of Attempts Made by Students = ",sum_of_attempts)

The Sum of Attempts Made by Students =  19

In [6]:
# QUESTION 5:- PRINT ONLY THE ROWS WHICH ARE HAVING VALUE AS 4 IN COLUMN1

# INPUT DATA
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}

# CONVERTING THE INPUT DATA INTO DATAFRAME
base_df = pd.DataFrame(d)

# APPLYING THE CONDITION TO CHECK THE VALUE AS 4 IN COL1
result_df = base_df[base_df['col1']==4]

# PRINTING THE RESULTANT DATAFRAME
print(result_df)

   col1  col2  col3
1     4     5     8
3     4     7     0

In [7]:
# QUESTION 6:- Drop a list of rows from a specified DataFrame

# INPUT DATA
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}

# CONVERTING THE INPUT DATA INTO DATAFRAME
base_df = pd.DataFrame(d)

# LIST
lst = [2,4]

# DROPPING THE ROWS FROM DATA FRAME BASED ON INDEX
result_df = base_df.drop(base_df.index[[lst]])

# PRINTING THE RESULTANT DATAFRAME
print(result_df)

   col1  col2  col3
0     1     4     7
1     4     5     8
3     4     7     0

/Users/badrinarayananr/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexes/base.py:3941: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

In [8]:
# QUESTION 7:- CHECK WHETHER THE GIVEN COLUMN IS PRESENT IN DATAFRAME OR NOT

# INPUT DATA
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

# CONVERTING THE INPUT DATA INTO DATAFRAME
df = pd.DataFrame(d)

# GETTING COLUMN NAME AS RUNTIME INPUT
column_to_check = input("Enter the column name ")

# ASSINGING A TEMP VARIABLE WITH VALUE AS FALSE INITIALLY
flag = False

# ITERATING THE COLUMNS IN DATA FRAME AND COMPARING THE COLUMN NAMES WITH THE INPUT
for column in df:
    if str(column) == str(column_to_check):
        flag = True
        break
        
# VERIFYING THE VALUE OF TEMP VARIABLE AND DECIDING THE PRESENCE BASED ON THAT
if flag == True:
    print("It is Present - ",column_to_check)
else:
    print("It is not Present - ",column_to_check)

Enter the column name col4
It is not Present -  col4

In [9]:
# QUESTION 8 - FETCHING THE COLUMN INDEX BASED ON COLUMN NAME

# INPUT DATA
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

# CONVERTING THE INPUT DATA INTO DATAFRAME
df = pd.DataFrame(d)

# GETTING COLUMN NAME AS RUNTIME INPUT
column_name = input("Enter the column name ")

# FETCHING THE COLUMN INDEX
print(df.columns.get_loc(str(column_name)))

Enter the column name col2
1

In [10]:
# QUESTION 9 - SELECT ALL COLUMNS EXCEPT ONE COLUMN

# INPUT DATA
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

# CONVERTING THE INPUT DATA INTO DATAFRAME
df = pd.DataFrame(d)

# GETTING COLUMN NAME AS RUNTIME INPUT
column_name = input("Enter the column name ")

# OMMITING THE SPECIFIC COLUMN
result_df = df.loc[:, df.columns != str(column_name)]

# PRINTING THE RESULT
print(result_df)

Enter the column name col3
   col1  col2
0     1     4
1     2     5
2     3     6
3     4     9
4     7     5

In [11]:
#QUESTION 10 - REMOVE 'N' NUMBER OF ROWS FROM THE BOTTOM

# INPUT DATA
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

# CONVERTING TO DATAFRAME
df = pd.DataFrame(d)

# DECIDING THE NUMBER OF ROWS TO REMOVE
total_rows = 5
rows_to_remove = 3
remove = total_rows-rows_to_remove

# REMOVING ROWS FROM DATAFRAME
result_df = df.iloc[:remove]

print(result_df)

   col1  col2  col3
0     1     4     7
1     2     5     8

In [12]:
#QUESTION 11 - PRINT THE TITLE OF MOVEIS WHOSE LENGTH IS GREATER THAN 30 AND LESSER THAN 360

# READING CSV DATA
csv_data = pd.read_csv("https://raw.githubusercontent.com/Laxminarayen/Inceptz-Batch13-Analytics_and_Python/master/05%20-%20Day%205%20-%20Pandas%20with%20Exercises/IMDB-Movie-Data.csv")

# TAKING THE REQUIRED COLUMNS INTO A VARIABLE
columns = csv_data.loc[:,['Title','Runtime (Minutes)']]

# APPLYING THE CONDITION
result = columns.loc[(columns['Runtime (Minutes)'] > 30) & (columns['Runtime (Minutes)'] < 360)]
print(result)

                       Title  Runtime (Minutes)
0    Guardians of the Galaxy                121
1                 Prometheus                124
2                      Split                117
3                       Sing                108
4              Suicide Squad                123
..                       ...                ...
995     Secret in Their Eyes                111
996          Hostel: Part II                 94
997   Step Up 2: The Streets                 98
998             Search Party                 93
999               Nine Lives                 87

[1000 rows x 2 columns]